.button {
    padding: $l-height * 0.25 $l-height * 0.5;
    display: inline-block;
    border: 1px solid $light-grey;
    background-color: $lighter-grey;
    color: $dark-grey;
    border-radius: 8px;
    transition: color 100ms, background-color 300ms;
    cursor: pointer;
    @extend %shadow-full;

    &:hover,
    &:active,
    &:focus {
        background-color: lighten($lighter-grey, 10%);
        color: darken($white, 65%);
    }

    &.disabled {
        cursor: not-allowed;
    }

    &--small {
        @extend .t-small;
    }

    &--medium {
        @extend .t-medium;
        @extend .t-bold;
        padding: $l-height * 0.5 $l-height;
    }
}
