%shadow-bottom {
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.75);
}

%shadow-right {
    -webkit-box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 2px 15px 0px rgba(0, 0, 0, 0.75);
}

%shadow-full {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

%shadow-text {
    text-shadow: 2px 2px #ff0000;
}

%header-field-margin {
    margin: 0 $l-height * 0.25;
}

// Generate indents helpers
$sides: (
    top: "top",
    bot: "bottom",
    left: "left",
    right: "right"
);

$multipliers: (
    quarter: 0.25,
    half: 0.5,
    1: 1,
    125: 1.25,
    15: 1.5,
    175: 1.75,
    2: 2,
    25: 2.5,
    3: 3,
    35: 3.5,
    4: 4
);

@each $s-key, $s-val in $sides {
    @each $m-key, $m-val in $multipliers {
        .m-#{$s-key}-#{$m-key} {
            @include set-margin($s-val, $m-val);
        }
        .p-#{$s-key}-#{$m-key} {
            @include set-padding($s-val, $m-val);
        }
    }
}
