@mixin set-margin($side, $multiplier) {
    margin-#{$side}: #{$l-height * $multiplier} !important;
}

@mixin set-padding($side, $multiplier) {
    padding-#{$side}: #{$l-height * $multiplier} !important;
}

@mixin bg-color-opacity($color, $opacity) {
    background-color: rgba($color, $opacity);
}

@mixin bg-gradient($d, $c1, $c2) {
    background-image: -webkit-linear-gradient($d, $c1, $c2);
    background-image: -moz-linear-gradient($d, $c1, $c2);
    background-image: -ms-linear-gradient($d, $c1, $c2);
    background-image: -o-linear-gradient($d, $c1, $c2);
    background-image: linear-gradient($d, $c1, $c2);
}
