// WORKAROUND to solve the problem of extending
// selectors in media queries

@mixin bold-font {
    font-weight: bold;
}

.t-bold {
    @include bold-font;
}

@mixin tiny-font {
    font-size: 0.8rem;
}
.t-tiny {
    @include tiny-font;
}

@mixin small-font {
    font-size: 1rem;
}

.t-small {
    @include small-font;
}

@mixin medium-font {
    font-size: 1.2rem;
}

.t-medium {
    @include medium-font;
}
