// Colors

$light-grey: #6c757d;
$lighter-grey: lighten($light-grey, 30%);
$dark-grey: #363636;
$main-font-color: #2c3e50;
$white: #fff;
$black: #000;

// Measures

$max-container-width: 1024px;
$l-height: 1.6rem;
$box-padding: $l-height * 0.7;
