<template>
    <footer class="footer">
        <div class="footer__container">
            <section class="footer__container__copyright">{{copyright}} {{currentYear}}</section>
            <section class="footer_container__sponsors">
                <img
                    src="/images/neovim-logo.png"
                    class="footer__container__sponsors__img"
                    alt="Neovim Logo"
                />
                <p>{{sponsor}}</p>
            </section>
        </div>
    </footer>
</template>

<script>
import dictionary from "../constants/dictionary";

export default {
    name: "AppFooter",
    data() {
        return {
            currentYear: new Date().getFullYear(),
            copyright: dictionary.FOOTER_COPYRIGHT,
            sponsor: dictionary.FOOTER_VIM_SPONSOR
        };
    }
};
</script>

<style lang="scss" scoped>
.footer {
    padding: $box-padding;
    padding-top: $l-height * 1.5;
    padding-bottom: $l-height * 1.5;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include bg-gradient(-180deg, #{$dark-grey}, #{$light-grey});
    @extend .t-tiny;

    &__container {
        width: 100%;
        max-width: $max-container-width;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__copyright {
            place-self: flex-end;
        }

        &__sponsors {
            display: flex;
            flex-direction: column;

            &__img {
                width: 113px;
            }
        }
    }

    @media only screen and (min-width: 576px) {
        @include small-font;
        &__container__sponsors {
            &__img {
                width: 142px;
            }
        }
    }
}
</style>
