<template>
    <header class="header">
        <section class="header__logo-box p-top-1 p-bot-15">
            <img src="/images/vue-logo.png" class="header__logo-box__img" alt="Vue Logo" />
        </section>
        <section class="header__filter-box">
            <label class="header__filter-box__label">{{limitPlaceholder}}</label>
            <v-select v-on:input="newLimitEmit($event)" :value="limit" :options="limitOptions"></v-select>
            <input
                v-on:input="debounceFilter($event.target.value)"
                type="search"
                name="filter"
                class="header__filter-box__filter-field"
                :placeholder="filterPlaceholder"
            />
        </section>
    </header>
</template>

<script>
import dictionary from "../constants/dictionary";
import constants from "../constants/images";
import vSelect from "vue-select";

export default {
    name: "AppHeader",
    props: {
        filter: {
            type: String,
            required: true
        },
        limit: {
            type: Number,
            required: true
        }
    },
    data() {
        return {
            filterPlaceholder: dictionary.HEADER_FILTER_PLACEHOLDER,
            limitPlaceholder: dictionary.HEADER_LIMIT_PLACEHOLDER,
            debounceTimeout: null,
            limitOptions: this.setLimitOptions(constants.MIN_LIMIT, constants.MAX_LIMIT, constants.STEP_LIMIT)
        };
    },
    components: {
        vSelect
    },
    methods: {
        debounceFilter(val) {
            if (this.debounceTimeout) {
                clearTimeout(this.debounceTimeout);
            }
            this.debounceTimeout = setTimeout(() => this.$emit("filterChanged", val), 700);
        },
        newLimitEmit(newVal) {
            this.$emit("limitChanged", newVal);
        },
        setLimitOptions(min, max, step) {
            let result = [];
            for (let i = min; i <= max; i += step) {
                result.push(i);
            }
            return result;
        }
    }
};
</script>

<style lang="scss">
@import "vue-select/src/scss/vue-select.scss";

.vs__search::placeholder,
.vs__dropdown-toggle,
.vs__dropdown-menu {
    background: $white;
    border: 1px solid $black;
    color: $dark-grey;
    text-transform: lowercase;
    font-variant: small-caps;
}

.vs__selected-options {
    min-width: $l-height * 1.8;
}

.vs__dropdown-toggle {
    height: $l-height * 1.4;
}

.vs__clear {
    display: none;
}

.header {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: $box-padding;
    @include bg-gradient(180deg, #{$dark-grey}, #{$light-grey});

    &__logo-box {
        width: 100%;
        max-width: $max-container-width;

        &__img {
            width: 100%;
            max-width: 512px;
        }
    }

    &__filter-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: $max-container-width;

        &__label {
            flex: 3;
            color: $white;
            @extend .t-medium;

            @media only screen and (max-width: 575px) {
                @include small-font;
            }

            @media only screen and (min-width: 575px) {
                flex: 1;
                flex-grow: 0.3;
            }
        }

        .v-select {
            flex: 1;
            flex-grow: 0;
            @extend %header-field-margin;
            &:focus,
            &:active,
            &.vs--open {
                outline: -webkit-focus-ring-color auto 1px;
            }
        }

        &__filter-field {
            flex: 2;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: $main-font-color;
            padding: $l-height * 0.25 $l-height * 0.5 $l-height * 0.25 $l-height * 1.4;
            @extend %header-field-margin;
            border: 1px solid $black;
            border-radius: 5px;
            background-image: url("/images/search.png");
            background-position: 5px center;
            background-repeat: no-repeat;
            background-size: 25px;
            max-width: 300px;
            @extend .t-medium;

            &::placeholder {
                color: $light-grey;
            }

            @media only screen and (min-width: 575px) {
                flex: 3;
            }
        }
    }
}
</style>
