<template>
    <aside class="nav p-top-1 p-bot-1">
        <p
            class="t-medium p-top-quarter p-bot-half t-bold"
            v-if="page && limit"
        >{{labels.page}} {{page}}, {{labels.limit}} {{limit}}</p>
        <nav class="nav__buttons">
            <a
                v-for="(item, key) in data"
                :key="key"
                class="button button--medium m-left-quarter m-right-quarter"
                v-on:click="navLinkClick($event, {key, page: item.page, limit: item.limit})"
            >{{navLinkName(item.rel)}}</a>
        </nav>
    </aside>
</template>

<script>
import {capitalize} from "../helpers/string";
import dictionary from "../constants/dictionary";

export default {
    name: "ImagesListNavigation",
    props: {
        data: {
            type: Object,
            required: true
        },
        page: Number,
        limit: Number
    },
    data() {
        return {
            labels: {
                page: dictionary.NAV_PAGE,
                limit: dictionary.NAV_LIMIT
            }
        };
    },
    methods: {
        navLinkClick(event, {key, page, limit}) {
            event.preventDefault();
            this.$emit(key, {page, limit});
        },
        navLinkName(name) {
            return capitalize(name);
        }
    }
};
</script>

<style lang="scss" scoped>
.nav {
    display: flex;
    flex-direction: column;

    &__buttons {
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
</style>
