<template>
    <div class="gallery__item__box">
        <div class="gallery__item__box__header">
            <div v-if="dataUrl" class="gallery__item__box__header__placeholder">
                <img
                    :src="placeholder || dataUrl"
                    alt
                    class="gallery__item__box__header__placeholder__img"
                    :style="{maxWidth: dimensions.width + 'px', maxHeight: dimensions.height + 'px'}"
                />
            </div>
            <a href="#" v-on:click="clickImage($event, externalLink)">
                <img
                    :src="dataUrl"
                    class="gallery__item__box__header__img"
                    :style="{maxWidth: dimensions.width + 'px', maxHeight: dimensions.height + 'px'}"
                    :alt="alt"
                />
            </a>
        </div>
        <div class="gallery__item__box__body p-top-quarter p-bot-half">
            <div class="gallery__item__box__body__field t-bold">{{this.data.author}}</div>
            <div
                class="gallery__item__box__body__field gallery__item__box__body__field--featured t-bold"
            >#{{data.id}}</div>
        </div>
    </div>
</template>

<script>
import constants from "../constants/images";
import {imageDetailsUrl} from "../services/endpoints";
import {objectMerge} from "../services/underscore";

export default {
    props: {
        data: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            webp: true,
            error: "",
            alt: "",
            placeholder: "",
            dimensions: {
                width: constants.THUMB_WIDTH,
                height: constants.THUMB_HEIGHT
            },
            classes: {
                img: "gallery__item__box__header__img",
                placeholder: "gallery__item__box__header__placeholder",
                suffixLoaded: "--loaded"
            }
        };
    },
    computed: {
        dataUrl() {
            if (!this.dimensions.width || !this.dimensions.height) {
                return "";
            }
            const w = this.dimensions.width,
                canvas = document.createElement("canvas");
            canvas.width = w;
            canvas.height = (this.dimensions.height / this.dimensions.width) * w;
            return canvas.toDataURL();
        }
    },
    created() {
        (this.externalLink = imageDetailsUrl(this.data.id, {
            width: constants.EXTERNAL_WIDTH,
            height: constants.EXTERNAL_HEIGHT,
            webp: this.webp
        })),
            (this.alt = this.getAlt(this.data.author, this.data.id));
        this.placeholder = this.getLightweightUrl(this.data.id, this.webp, this.dimensions);
    },
    mounted() {
        let timeOut;
        const observer = new IntersectionObserver(([entry]) => {
            const img = this.$el.querySelector("." + this.classes.img),
                placeholder = this.$el.querySelector("." + this.classes.placeholder);

            img.onload = () => {
                delete img.onload;
                img.classList.add(this.classes.img + this.classes.suffixLoaded);
                if (placeholder) {
                    timeOut = setTimeout(() => {
                        placeholder.remove();
                    }, 300);
                }
            };

            if (entry.isIntersecting) {
                img.src = this.getUrl(this.data.id, this.webp, this.dimensions);
                observer.disconnect();
            }
        });
        observer.observe(this.$el);

        this.$once("hook:beforeDestroy", () => {
            observer.disconnect();
            if (timeOut) {
                clearTimeout(timeOut);
            }
        });
    },
    methods: {
        clickImage($event, url) {
            const newImg = {
                url,
                author: this.data.author,
                id: this.data.id,
                alt: this.getAlt(this.data.author, this.data.id)
            };
            $event.preventDefault();
            this.$emit("modalImageChanged", newImg);
        },
        getAlt(author, id) {
            let result = author || "";
            if (result) {
                result += " ";
            }
            result += "#" + id;
            return result;
        },
        getLightweightUrl(id, webp, dimensions) {
            return imageDetailsUrl(
                id,
                objectMerge(
                    {
                        blur: constants.THUMB_BLUR,
                        webp: webp || false
                    },
                    dimensions
                )
            );
        },
        getUrl(id, webp, dimensions) {
            return imageDetailsUrl(id, objectMerge({webp}, dimensions));
        }
    }
};
</script>

<style lang="scss" scoped>
.gallery__item__box {
    display: flex;
    flex-direction: column;
    padding: $l-height * 0.5;
    padding-bottom: 0;

    &__header {
        position: relative;

        &__placeholder {
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;

            &__img {
                width: 100%;
                height: auto;
            }
        }

        &__img {
            opacity: 0;
            transition: opacity 300ms ease;
            width: 100%;
            height: auto;

            &--loaded {
                opacity: 1;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__field {
            max-width: 40%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &--featured {
                background-color: $dark-grey;
                color: $white;
                padding: $l-height * 0.25 2px;
                min-width: $l-height * 2;
                border-radius: 5px;
            }
        }
    }
}
</style>
