<template>
    <ul class="gallery">
        <li v-for="image in list" :key="image.id" class="gallery__item" :style="{maxWidth: dimensions.width + 'px'}">
            <image-block v-on:modalImageChanged="modalImageEmit($event)" :data="image"></image-block>
        </li>
    </ul>
</template>

<script>
  import ImageBlock from "./image-block";
  import constants from "../constants/images";

  export default {
      name: "ImagesList",
      props: {
          list: {
              type: Array,
              required: true,
          },
      },
      data() {
          return {
              dimensions: {
                  width: constants.THUMB_WIDTH,
                  height: constants.THUMB_HEIGHT,
              },
          };
      },
      components: {
          ImageBlock,
      },
      methods: {
          modalImageEmit(img) {
              this.$emit("modalImageChanged", img);
          },
      },
  };
</script>

<style lang="scss" scoped>
  .gallery {
      display: grid;
      list-style-type: none;
      gap: $l-height $l-height;
      justify-items: start;
      align-items: start;
      padding: 0 $box-padding;

      &__item {
          place-self: center;
          width: 100%;
          border: 1px solid $light-grey;
          border-radius: 7px;
          @extend %shadow-full;
      }

      @media only screen and (min-width: 576px) {
          grid-template-columns: 1fr 1fr;
      }

      @media only screen and (min-width: 1024px) {
          grid-template-columns: 1fr 1fr 1fr;
      }
  }
</style>
