<template>
    <div
        class="overlay"
        :class="{'overlay--hidden': !active || !isObjectValid(image)}"
        v-on:click.self="close()"
    >
        <div class="overlay__modal">
            <div class="overlay__modal__img-layout">
                <div class="overlay__modal__header">
                    <span class="overlay__modal__header__info">{{labels.author}} {{image.author}}</span>
                    <div class="overlay__modal__header__close">
                        <a href="#" :title="labels.close" v-on:click="close($event)">
                            <img
                                class="overlay__modal__header__close__button"
                                src="/images/close-icon.svg"
                                :alt="labels.close"
                            />
                        </a>
                    </div>
                </div>
                <img
                    class="overlay__modal__img"
                    :src="image.url"
                    :width="imgWidth"
                    :height="imgHeight"
                    :alt="image.alt"
                />
            </div>
        </div>
    </div>
</template>

<script>
import constants from "../constants/images";
import dictionary from "../constants/dictionary";
import {size as objectSize} from "../services/underscore";

export default {
    props: {
        image: {
            type: Object,
            required: true
        }
    },
    watch: {
        image: {
            handler(newVal) {
                if (!this.active && this.isObjectValid(newVal)) {
                    this.active = !this.active;
                    this.documentSet("hidden");
                }
            }
        }
    },
    data() {
        return {
            active: false,
            imgWidth: constants.EXTERNAL_WIDTH,
            imgHeight: constants.EXTERNAL_HEIGHT,
            labels: {
                close: dictionary.MODAL_CLOSE_ALT,
                author: dictionary.IMAGE_AUTHOR_LABEL
            }
        };
    },
    methods: {
        close(e) {
            if (e) {
                e.preventDefault();
            }
            this.active = false;
            this.documentSet("");
        },
        documentSet(val) {
            document.body.style.overflow = val;
        },
        isObjectValid(obj) {
            return obj && objectSize(obj) > 0;
        }
    }
};
</script>

<style lang="scss" scoped>
.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    @include bg-color-opacity($dark-grey, 0.8);
    width: 100vw;
    height: 100vh;

    &--hidden {
        display: none;
    }

    &__modal {
        padding: $box-padding;

        &__img-layout {
            position: relative;
            background-color: $black;
            padding-top: $l-height * 2;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: $l-height * 0.5 $box-padding;
            width: 95%;
            width: calc(100% - #{$box-padding * 2});
            position: absolute;
            top: 0;

            &__info {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color: $white;
            }

            &__close {
                width: $l-height;
                height: $l-height;

                &__button {
                    width: 100%;
                }
            }

            @media only screen and (max-width: 575px) {
                width: calc(100% - #{$l-height * 0.5});
                padding-top: $l-height * 0.25;
                padding-left: $l-height * 0.25;
                padding-right: $l-height * 0.25;
            }
        }

        &__img {
            width: 100%;
            height: auto;
        }
    }
}
</style>
