<template>
    <div id="app">
        <modal-window :image="modalImage"></modal-window>
        <app-header
            :key="headerKey"
            :filter="filter"
            :limit="limit"
            v-on:limitChanged="setNewLimit($event)"
            v-on:filterChanged="searchBy($event)"
        ></app-header>
        <main
            class="content"
            :class="{'content--empty': error, 'p-top-2': !topNavigationVisible()}"
        >
            <section class="content__container" v-if="!error">
                <images-list-navigation
                    v-if="topNavigationVisible()"
                    v-on:next="nextPage($event)"
                    v-on:prev="prevPage($event)"
                    :data="navigation"
                    :page="page"
                    :limit="limit"
                ></images-list-navigation>
                <images-list
                    v-on:modalImageChanged="setModalImage($event)"
                    :list="filteredImages.length > 0 ? filteredImages : images"
                ></images-list>
                <images-list-navigation
                    v-if="navigation"
                    v-on:next="nextPage($event)"
                    v-on:prev="prevPage($event)"
                    :data="navigation"
                    :page="page"
                    :limit="limit"
                ></images-list-navigation>
            </section>
            <p v-else>{{error}}</p>
        </main>
        <app-footer></app-footer>
    </div>
</template>

<script>
import {getImagesList} from "./services/image";
import ImagesList from "./components/images-list";
import ImagesListNavigation from "./components/images-list-nav";
import AppHeader from "./components/app-header";
import AppFooter from "./components/app-footer";
import ModalWindow from "./components/modal-window";
import constants from "./constants/images";
import dictionary from "./constants/dictionary";
import parseLink from "parse-link-header";

export default {
    name: "App",
    data() {
        return {
            images: [],
            navigation: null,
            error: "",
            filter: "",
            headerKey: 1,
            filteredImages: [],
            modalImage: {},
            page: constants.DEFAULT_PAGE,
            limit: constants.DEFAULT_LIMIT,
            errors: {
                emptyList: dictionary.IMAGES_LIST_EMPTY_ERROR
            }
        };
    },
    mounted() {
        this.getImages().then((res) => this.updateData(res));
    },
    components: {
        ImagesList,
        ImagesListNavigation,
        AppHeader,
        AppFooter,
        ModalWindow
    },
    methods: {
        async getImages(page, limit) {
            return getImagesList(page, limit).then((response) => {
                if (response.error) {
                    return {images: [], navigation: null, error: response.error};
                } else {
                    return {images: response.data, navigation: parseLink(response.headers.link), error: ""};
                }
            });
        },
        setModalImage(img) {
            this.modalImage = img;
        },
        setNewLimit(limit) {
            this.updateList({page: this.page, limit});
        },
        topNavigationVisible() {
            return this.navigation && (this.filteredImages.length === 0 || this.filteredImages.length >= 6);
        },
        updateList(config) {
            this.page = parseInt(config.page) || this.page;
            this.limit = parseInt(config.limit) || this.limit;
            this.filteredImages = [];
            this.filter = "";
            // Update the header key otherwise
            // the filter inside the header
            // is not being updated
            this.headerKey++;
            this.getImages(this.page, this.limit).then((res) => this.updateData(res));
        },
        updateData(config) {
            this.images = config.images || this.images;
            this.navigation = config.navigation || this.navigation;
            this.error = config.error + "" || this.error;
        },
        nextPage(payload) {
            this.updateList(payload);
        },
        prevPage(payload) {
            this.updateList(payload);
        },
        searchBy(phrase) {
            this.error = "";
            this.filteredImages = phrase
                ? this.images.filter((el) => el.author.toLowerCase().indexOf(phrase.toLowerCase()) >= 0)
                : [];
            if (phrase && this.filteredImages.length === 0) {
                this.error = this.errors.emptyList;
            }
        }
    }
};
</script>

<style lang="scss">
#app {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $main-font-color;
    min-width: 320px;

    .content {
        padding: $l-height * 0.5 0 $l-height * 0.5 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__container {
            width: 100%;
            max-width: $max-container-width;
        }

        &--empty {
            padding-top: $l-height * 2;
        }
    }
}
</style>
